@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: black;
}

h2 {
    color: green;
}

#economy h2 {
    color: gold;
}

.creation-date {
    color: #ccc;
}